<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

        <!-- stylesheet-->
        <link rel="stylesheet" href="../css/styles.css">

        <title>Home Page</title>

    </head>
    <body>
        <h1>Home Page</h1>

        <!-- add image to view-->
        <img src="image.JPG" height="221" width="264" alt="picture of cat"/>

        <!-- add hyperlink to view-->
        <a href="https://www.petco.com/shop/en/petcostore" style="font-size: 2rem">PetCo</a>

    </body>
</html>